@import "tailwindcss";

:root {
  --background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/background.jpg");
  --foreground: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bricolage: var(--font-bricolage);
  --font-work-sans: var(--font-albert-sans);
}

body {
  background: var(--background);
  background-size: cover;
  background-position: center center fixed;
  background-repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.customPulse {
  animation: customPulse 3s infinite;
}

@keyframes customPulse {
  0% {
    text-shadow: none;
    transform: scale(1);
  }
  50% {
    text-shadow: var(--color-sky-600) 0px 0px 7px;
  }
  100% {
    transform: scale(1);
    text-shadow: none;
  }
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.noScroll {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  scrollbar-width: none;
}

.carousel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  max-width: 100%;
  width: 100%;
  padding: 10px 0;
  white-space: nowrap;
  box-sizing: border-box;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  scrollbar-width: none;
}

.carousel-track {
  display: flex;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}
